<% @page_title = "Admin" %>
<h2>Administration Tasks</h2>

<%= link_to 'Users', :controller => :admin, :action => :users %>
<br /><br />
<%= link_to 'View/Edit Categories', :controller => :categories, :action => :index %>
<br /><br />
<%= link_to 'Pic Audit', :controller => :admin, :action => :pic_audit %>
<br /><br />
<%= link_to 'See Sitemap', :controller => :sitemap, :action => :sitemap %>
<br /><br />

