<tr>
  <td><%= link_to (image_tag auction.thumb), raw(auction.item_url) %></td>
    <td><%= link_to auction.title, raw(auction.item_url) %></td>
    <td><%= auction.price %></td>
    <td><%= auction.time_left %></td>
</tr>
