<% if @auction_result.found? %>
  <% if @auction_result.multiple_search? %>
    Results for "<%= @auction_result.original_terms %>" were not found,
    so this is a result for "<%= @auction_result.terms %>".
  <% end %>

  <table>
    <tr>
      <th>Pic</th>
      <th>Title</th>
      <th>Price ($)</th>
      <th>Time Left</th>
    </tr>

    <%= render partial: 'ebay/auction', collection: @auction_result.auctions %>

  </table>
<% else %>
  There were no auctions found for "<%= @auction_result.terms %>".
<% end %>
